Node-RED/flow-sample.json
[
    {
        "id": "1f29e150.097a9f",
        "type": "tab",
        "label": "MakerFaireTokyo2017",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e397698.2f00f8",
        "type": "websocket in",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（温湿度）",
        "server": "",
        "client": "bb48c9a7.c1b1f8",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "45ab0087.62ad2"
            ]
        ]
    },
    {
        "id": "2393d617.bc1d4a",
        "type": "trigger",
        "z": "1f29e150.097a9f",
        "op1": "1",
        "op2": "0",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a136ae06.efc77",
                "6aab1d6b.bd4c34"
            ]
        ]
    },
    {
        "id": "a136ae06.efc77",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "印字データ生成",
        "func": "msg.payload = {\n    \"module\":\"★\",　//対象となるモジュールIDを指定\n    \"type\":\"channels\",\n    \"payload\":{\n        \"channels\":[\n            {\n                \"channel\": 0,\n                \"type\":\"I\",\n                \"value\":context.global.seatID, \n            },\n            {\n                \"channel\": 1,\n                \"type\":\"f\",\n                \"value\":msg.payload,\n            },\n            {\n                \"channel\": 2,\n                \"type\":\"I\",\n                \"value\":1,  //レシートマシンでの種別判定用、1は温度\n            }\n        ]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "1089815f.310ebf",
                "3cac5b20.59bb34"
            ]
        ]
    },
    {
        "id": "1089815f.310ebf",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "88170854.82b088",
        "type": "json",
        "z": "1f29e150.097a9f",
        "name": "String→Objectへの変換",
        "pretty": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "72dbfbee.fc9e54"
            ]
        ]
    },
    {
        "id": "72dbfbee.fc9e54",
        "type": "switch",
        "z": "1f29e150.097a9f",
        "name": "Type＝Channelsだけ通過",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "c99f469.51932b8",
                "7b80292.ec8bcd8"
            ]
        ]
    },
    {
        "id": "455ad949.a0f4f8",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b80292.ec8bcd8",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "162eed1e.7d7703",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "温湿度連携",
        "info": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7fe0051.8517e",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "WebSocketURLコピペ",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "44be89ed.bd21a8",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "7bc0c251.2e8edc",
        "type": "trigger",
        "z": "1f29e150.097a9f",
        "op1": "1",
        "op2": "0",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "ae07deb8.76bdc",
                "bf9579c1.eec6e8"
            ]
        ]
    },
    {
        "id": "8cabcf39.5e0c7",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "d38b4884.817ef8",
        "type": "json",
        "z": "1f29e150.097a9f",
        "name": "String→Objectへの変換",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "8ab4d87b.336648"
            ]
        ]
    },
    {
        "id": "8ab4d87b.336648",
        "type": "switch",
        "z": "1f29e150.097a9f",
        "name": "Type＝Channelsだけ通過",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 520,
        "wires": [
            [
                "98a5fcb2.0d9cc",
                "7e6f0259.6d950c"
            ]
        ]
    },
    {
        "id": "2bd4ed21.7eb042",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "Ch1の値取り出し",
        "func": "msg.payload = msg.payload.payload.channels[1].value;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 640,
        "wires": [
            [
                "f2e52d4.c7a48d",
                "7bc0c251.2e8edc"
            ]
        ]
    },
    {
        "id": "f2e52d4.c7a48d",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "98a5fcb2.0d9cc",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "42ad2c9e.65b224",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "照度連携",
        "info": "",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "32e4214a.ffb61e",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "測距連携",
        "info": "",
        "x": 460,
        "y": 960,
        "wires": []
    },
    {
        "id": "34e0f97a.a18246",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "Ch0の値を小数第一位に四捨五入",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[0].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "455ad949.a0f4f8",
                "2393d617.bc1d4a"
            ]
        ]
    },
    {
        "id": "2ce12469.be239c",
        "type": "trigger",
        "z": "1f29e150.097a9f",
        "op1": "1",
        "op2": "0",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 550,
        "y": 1200,
        "wires": [
            [
                "8b1586f.6174778",
                "d2a7df11.e5cac"
            ]
        ]
    },
    {
        "id": "e3bc66d2.363fd8",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b2de801e.1e571",
        "type": "json",
        "z": "1f29e150.097a9f",
        "name": "String→Objectへの変換",
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "3440d046.c6ecf"
            ]
        ]
    },
    {
        "id": "3440d046.c6ecf",
        "type": "switch",
        "z": "1f29e150.097a9f",
        "name": "Type＝Channelsだけ通過",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "channels",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 790,
        "y": 1000,
        "wires": [
            [
                "9cc5e045.5b342",
                "5b99e78f.d77958"
            ]
        ]
    },
    {
        "id": "2bc51eb6.0a4712",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9cc5e045.5b342",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 1000,
        "wires": []
    },
    {
        "id": "775edc14.dc6ed4",
        "type": "twitter out",
        "z": "1f29e150.097a9f",
        "twitter": "",
        "name": "Tweet",
        "x": 1010,
        "y": 1340,
        "wires": []
    },
    {
        "id": "427c05d0.ce21cc",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3cac5b20.59bb34",
        "type": "websocket out",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（レシート）",
        "server": "",
        "client": "f890fba2.507598",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "735aab04.e9d894",
        "type": "websocket out",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（レシート）",
        "server": "",
        "client": "f890fba2.507598",
        "x": 1100,
        "y": 760,
        "wires": []
    },
    {
        "id": "158bd23b.f649ce",
        "type": "websocket out",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（レシート）",
        "server": "",
        "client": "f890fba2.507598",
        "x": 1100,
        "y": 1240,
        "wires": []
    },
    {
        "id": "210974f6.c6755c",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "WebSocketURLコピペ",
        "info": "",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4b48c72.a525a",
        "type": "websocket in",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（照度）",
        "server": "",
        "client": "bb48c9a7.c1b1f8",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "dd8be512.e6e158"
            ]
        ]
    },
    {
        "id": "15cb43d.a2403bc",
        "type": "comment",
        "z": "1f29e150.097a9f",
        "name": "WebSocketURLコピペ",
        "info": "",
        "x": 120,
        "y": 960,
        "wires": []
    },
    {
        "id": "22aa325a.cfb94e",
        "type": "websocket in",
        "z": "1f29e150.097a9f",
        "name": "sakura.io WebSocket（測距）",
        "server": "",
        "client": "bb48c9a7.c1b1f8",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "7e64d1cb.8c19b"
            ]
        ]
    },
    {
        "id": "6aab1d6b.bd4c34",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "メッセージ化",
        "func": "msg.payload = 'MakerFaireTokyo2017のさくらインターネットブース(座席:'+context.global.seatID+',デバイス:'+context.global.moduleID+')で温度情報を取得したよ！ただ今の現地の温度は'+msg.payload+'度だよ。 #sakuraio #MakerFaireTokyo2017';return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "8f19602.64bb1a",
                "ac04902a.29b65"
            ]
        ]
    },
    {
        "id": "ae07deb8.76bdc",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "メッセージ化",
        "func": "msg.payload = 'MakerFaireTokyo2017のさくらインターネットブース(座席:'+context.global.seatID+',デバイス:'+context.global.moduleID+')でセンサが明るさを計測中！ただ今の現地の明るさは100段階で言うと'+msg.payload+'くらいかな。 #sakuraio #MakerFaireTokyo2017';return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 820,
        "wires": [
            [
                "8e1b2b28.7cd138",
                "e8245132.e133d"
            ]
        ]
    },
    {
        "id": "8b1586f.6174778",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "メッセージ化",
        "func": "msg.payload = 'MakerFaireTokyo2017のさくらインターネットブース(座席:'+context.global.seatID+',デバイス:'+context.global.moduleID+')で測距情報を取得中！ただ今のセンサから目の前の対象までの距離は約'+msg.payload+'cmですよ。 #sakuraio #MakerFaireTokyo2017';return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1300,
        "wires": [
            [
                "c94f63c1.77efa",
                "775edc14.dc6ed4"
            ]
        ]
    },
    {
        "id": "c99f469.51932b8",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "変数の登録",
        "func": "context.global.moduleID = msg.payload.module;\n\n// 以下でシートIDを切り替え\ncontext.global.seatID = 1;\n// context.global.seatID = 2;\n// context.global.seatID = 3;\n// context.global.seatID = 4;\n\nmodule = context.global.moduleID;\nseat = context.global.seatID;\nmsg = msg.payload;\n\nreturn [\n    {payload: module},\n    {payload: seat},\n    {payload: msg}\n];",
        "outputs": "3",
        "noerr": 0,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "44be89ed.bd21a8"
            ],
            [
                "44be89ed.bd21a8"
            ],
            [
                "34e0f97a.a18246"
            ]
        ]
    },
    {
        "id": "8f19602.64bb1a",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "8e1b2b28.7cd138",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "c94f63c1.77efa",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7e6f0259.6d950c",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "変数の登録",
        "func": "context.global.moduleID = msg.payload.module;\n\n// 以下でシートIDを切り替え\ncontext.global.seatID = 1;\n// context.global.seatID = 2;\n// context.global.seatID = 3;\n// context.global.seatID = 4;\n\nmodule = context.global.moduleID;\nseat = context.global.seatID;\nmsg = msg.payload;\n\nreturn [\n    {payload: module},\n    {payload: seat},\n    {payload: msg}\n];",
        "outputs": "3",
        "noerr": 0,
        "x": 510,
        "y": 580,
        "wires": [
            [
                "63e120a2.f2429"
            ],
            [
                "63e120a2.f2429"
            ],
            [
                "2bd4ed21.7eb042"
            ]
        ]
    },
    {
        "id": "63e120a2.f2429",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 580,
        "wires": []
    },
    {
        "id": "bf9579c1.eec6e8",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "印字データ生成",
        "func": "msg.payload = {\n    \"module\":\"★\",　//対象となるモジュールIDを指定\n    \"type\":\"channels\",\n    \"payload\":{\n        \"channels\":[\n            {\n                \"channel\": 0,\n                \"type\":\"I\",\n                \"value\":context.global.seatID, \n            },\n            {\n                \"channel\": 1,\n                \"type\":\"f\",\n                \"value\":msg.payload,\n            },\n            {\n                \"channel\": 2,\n                \"type\":\"I\",\n                \"value\":2,   //レシートマシンでの種別判定用、2は照度\n            }\n\n        ]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 720,
        "wires": [
            [
                "8cabcf39.5e0c7",
                "735aab04.e9d894"
            ]
        ]
    },
    {
        "id": "d2a7df11.e5cac",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "印字データ生成",
        "func": "msg.payload = {\n    \"module\":\"★\",　//対象となるモジュールIDを指定\n    \"type\":\"channels\",\n    \"payload\":{\n        \"channels\":[\n            {\n                \"channel\": 0,\n                \"type\":\"I\",\n                \"value\":context.global.seatID, \n            },\n            {\n                \"channel\": 1,\n                \"type\":\"f\",\n                \"value\":msg.payload,\n            },\n            {\n                \"channel\": 2,\n                \"type\":\"I\",\n                \"value\":3,   //レシートマシンでの種別判定用、3は距離\n            }\n\n        ]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1200,
        "wires": [
            [
                "e3bc66d2.363fd8",
                "158bd23b.f649ce"
            ]
        ]
    },
    {
        "id": "5b99e78f.d77958",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "変数の登録",
        "func": "context.global.moduleID = msg.payload.module;\n\n// 以下でシートIDを切り替え\ncontext.global.seatID = 1;\n// context.global.seatID = 2;\n// context.global.seatID = 3;\n// context.global.seatID = 4;\n\nmodule = context.global.moduleID;\nseat = context.global.seatID;\nmsg = msg.payload;\n\nreturn [\n    {payload: module},\n    {payload: seat},\n    {payload: msg}\n];",
        "outputs": "3",
        "noerr": 0,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "427c05d0.ce21cc"
            ],
            [
                "427c05d0.ce21cc"
            ],
            [
                "e06268da.6c1ed8"
            ]
        ]
    },
    {
        "id": "e06268da.6c1ed8",
        "type": "function",
        "z": "1f29e150.097a9f",
        "name": "Ch1の値を小数第一位に四捨五入",
        "func": "msg.payload = Math.round(msg.payload.payload.channels[1].value*10)/10;return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1120,
        "wires": [
            [
                "2bc51eb6.0a4712",
                "2ce12469.be239c"
            ]
        ]
    },
    {
        "id": "45ab0087.62ad2",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd8be512.e6e158",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 210,
        "y": 640,
        "wires": []
    },
    {
        "id": "7e64d1cb.8c19b",
        "type": "debug",
        "z": "1f29e150.097a9f",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 210,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e8245132.e133d",
        "type": "twitter out",
        "z": "1f29e150.097a9f",
        "twitter": "",
        "name": "Tweet",
        "x": 1010,
        "y": 860,
        "wires": []
    },
    {
        "id": "ac04902a.29b65",
        "type": "twitter out",
        "z": "1f29e150.097a9f",
        "twitter": "",
        "name": "Tweet",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "bb48c9a7.c1b1f8",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/★",
        "wholemsg": "false"
    },
    {
        "id": "f890fba2.507598",
        "type": "websocket-client",
        "z": "",
        "path": "wss://api.sakura.io/ws/v1/★",
        "wholemsg": "false"
    }
]